{% load static %}

<html>
    <head>
        {% block title %} {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base.css' %}" >

    </head>

    <body>
        <header>
            <nav> <!-- ##############################       NAV       ###########################-->
            <!--<figure class="logo"><img src="Ressources/logo.png" alt="Logo"></figure> -->
                <ul>
                    {% if user.is_staff %}
                    <li><a >Planning</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>                
            {% comment %} {% for message in messages %}
            <div class="alert"><!--#########################  ALERT BOX   #############################-->
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}
         {% endcomment %}
        <main><!--###############################   BODY   #####################################-->
        {% block body %} {% endblock %}
        </main>


        <footer><!-- #######################    FOOTER   #################################-->
            <div class="footercont">
                <p><span class="footer-title">About :</span><br>Website created by A.Lemullois and M.Rowell as en exercise for Simplon Dev IA Roubaix</p>
                <p><span class="footer-title">Contact</span><br>Phone : 06 11 22 33 44<br>Opening hours : Monday-Friday : 9:00 - 17:00</p>
            </div>
        <footer>

    </body>

</html>