/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footercont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.footer-title {
    font-weight: bold;
}

/* Alert Styles (Currently commented out in your HTML) */
.alert {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
